<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="shortcut icon" href="https://framework-gb.cdn.gob.mx/favicon.ico">
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Error | gob.mx</title>
</head>

<body id="id_body">
    <!-- Contenido -->
    <main role="main">
        <div class="container">
            <div class="section section-error vertical-buffer">
                <div class="row">
                    <div class="col-sm-7">
                        <h2 th:text="${title}"></h2>
                        <h3 th:text="${code}"></h3>
                        <p th:text="${title}"></p>
                        <hr>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <figure>
                            <img src="/img/error.svg" alt="gob.mx">
                        </figure>
                        <h3>Otras opciones:</h3>
                        <ul>
                            <li><a href="/index">Volver intentar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- JS -->

    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>

</html>